<section class="form-contact">
  <h1 class="text-center">Fale conosco</h1>

  <form id="form-de-contato" action="index.php" method="POST">

    <fieldset>
     
      <div>
        <label for="nome">
          <span>Nome: </span><abbr>*</abbr>
          <input type="text" id="nome" name="nome">          
        </label>
      </div>
      
      <div>
        <label for="email">
          <span>E-mail: </span><abbr>*</abbr>
          <input type="email" id="email" name="email">
        </label>
      </div>
      
      <div>
        <label for="fone">
          <span>Fone / WhatsApp: </span>
          <input type="tel" id="fone" name="fone" placeholder="DDD + Número">
        </label>
      </div>
      
      <div>
        <label for="assunto">
          <span>Assunto: </span>
          <input type="text" id="assunto" name="assunto">
        </label>
      </div>
      
      <div>
        <label for="mensagem">
          <span>Mensagem: </span><abbr>*</abbr>
          <textarea id="mensagem" name="mensagem"></textarea>
        </label>
      </div>
    
    </fieldset>

    <div class="required-field">
      <small class="text-center">Campos marcados com <abbr title="asterisco">*</abbr> são obrigatórios.</small>
    </div>

    <button id="form-de-contato" type="submit">Enviar</button>    
    
  </form>
</section>
