<div class="login">
  <h1>
    <a href="#" title="" alt="">login</a>
  </h1>
  {% if error != '' %}
  <p class="error">{{ error }}</p>
  {% endif %}
  <form name="loginform" id="loginform" action="index.php?class=Login&method=check" method="POST">
    <p>
      <label for="user_login">
        E-mail
        <br>
        <input type="text" name="user_login" id="user_login" class="input" value size="20">
      </label>
    </p>
    <p>
      <label for="user_pass">
        Senha
        <br>
        <input type="password" name="user_pass" id="user_pass" class="input" value size="20">
      </label>
    </p>
    <p class="submit">
      <input type="submit" name="submit" id="submit" class="button" value="Fazer login">
    </p>
    <p>
      <a href="#" class="button-text">Criar conta</a>
    </p>
  </form>
  <p id="nav">
    <a href="#">Perdeu a senha?</a>
  </p>
  <p id="backtoblog">
    <a href="/">Voltar para home</a>
  </p>
</div>
