<section class="msg">
  <h1 class="text-center">Atendimento ao Cliente</h1>

  <p>Cliente: {{ usuario }}</p>
  <p>Assunto: {{ assunto }}</p>

  <div class="message-body">
    <p><img src="assets/images/calendar.png" alt="calendário"> {{ date_send }}</p>
    <p>{{ mensagem }}</p>
  </div>
</section>

<section class="msg">
  <h4>Sua resposta:</h4>
  <div class="resposta">
    <form id="form-atendimento" action="index.php?page=ReplyContact" method="POST">
      <fieldset>
        <input type="hidden" id="id-chat" name="id-chat" value="{{ id_chat }}">
        <textarea class="reply-area" name="message" id="message" ></textarea>
      </fieldset>
      <button id="form-atendimento" type="submit">Enviar</button>
    </form>
  </div>
</section>

<section class="msg">
  <h4 class="text-center">Linha do tempo de mensagens</h4>
  <br>
  {% for conteudo in chat %}
  <img src="assets/images/calendar.png" alt="calendário"> {{ conteudo.chat_date }}
  <strong>{{ conteudo.chat_usuario }}</strong><br>
  {{ conteudo.chat_mensagem }}<br><br>
  {% endfor %}
</section>
