<nav class="container">
  <ul>
    <li><a href="index.php?class=MessagesList&method=index">Mensagens</a></li>
  </ul>
</nav>
<section class="msg">
  <h1 class="text-center">Atendimento ao Cliente</h1>

  <p><strong>Assunto: {{ subject }}</strong></p>

  {% for content in chat %}
  <p>{{ content.user }}</p>
  <div class="message-body">
    <p><img src="assets/images/calendar.png" alt="calendário"> {{ content.date_send }}</p>
    <p>{{ content.message }}</p>
  </div>
  <hr>
  {% endfor %}

</section>

<section class="msg">
  <h4>Sua resposta:</h4>
  <div class="resposta">
    <form id="form-atendimento" action="index.php?class=ReplyContact&method=reply" method="POST">
      <fieldset>
        <input type="hidden" id="id-chat" name="id-chat" value="{{ id_chat }}">
        <textarea class="reply-area" name="message" id="message"></textarea>
      </fieldset>
      <button id="form-atendimento" type="submit">Enviar</button>
    </form>
  </div>
</section>

<section class="msg">
  <h4 class="text-center">Linha do tempo de mensagens</h4>
  <br>

  {% for content in chat %}
  <img src="assets/images/calendar.png" alt="calendário"> {{ content.date_send }}
  <strong>{{ content.user }}</strong><br>
  {{ content.message }}<br><br>
  {% endfor %}

</section>
