<!doctype html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Módulo: Formulário de Contato</title>
  <meta name="description" content="Formulário para contato que utiliza parâmetros e a API reCAPTCHA do google.">
  <link rel="stylesheet" href="assets/css/style.css">
  <meta name="author" content="Robson Natanael">
  <link rel="author" href="https://www.robsonnatanael.com.br">
</head>

<body>
  <header class="bg">
    <div class="logo">
      <a href="index.php">Módulo: Mensagem</a>
    </div>
    <nav class="menu">
      <ul>
        <li><a href="index.php?page=admin">Admin</a></li>
      </ul>
    </nav>
  </header>
  <main>
    {{ area_dinamica }}
  </main>
  <footer>
    <p>&copy; 2020 - Desenvolvido por <a href="https://www.robsonnatanael.com.br">Robson Natanael</a></p>
  </footer>
</body>

</html>
