<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Formulário de Contato</title>
    <meta name="description" content="Formulário para contato que utiliza parâmetros e a API reCAPTCHA do google.">
    <link rel="stylesheet" href="assets/css/style.css">
    <meta name="author" content="Robson Natanael">
    <link rel="author" href="https://www.robsonnatanael.com.br">
  </head>
  <body>
    <main>
      {{area_dinamica}}
    </main>
    <footer>
      <p>&copy; 2020 - Desenvolvido por <a href="https://www.robsonnatanael.com.br">Robson Natanael</a></p>
    </footer>
  </body>
</html>