<section>
  <h1>Formulário de Cadastro de Fornecedores</h1>
  <form action="index.php?class=SupplierController&method=register" method="POST">
    <div>
      <input type="radio" id="free" name="plan" value="Free">
      <label for="free">Free</label>
      <input type="radio" id="premium" name="plan" value="Premium">
      <label for="premium">Premium</label>
    </div>
    <br>
    <div>
      <label for="name">Nome:</label>
      <input type="text" name="name" id="name">
    </div>
    <div>
      <label for="email">E-mail:</label>
      <input type="email" name="email" id="email">
    </div>
    <div>
      <label for="phone">Fone / WhatsApp:</label>
      <input type="text" name="phone" id="phone">
    </div>
    <!-- Adiconar segmento posteriormente -->
    <div>
      <label for="description">Descrição:</label><br>
      <textarea name="description" id="description" cols="30" rows="10"></textarea>
    </div>
    <input type="submit" value="Cadastrar">

  </form>
</section>
