<nav class="container">
  <ul>
    <li><a href="index.php?class=Dashboard&method=index">Dashboard</a></li>
  </ul>
</nav>
<section class="msg">
  <h1 class="text-center">Atendimento ao Cliente</h1>
  <table class="tabela-msg">
    <tr>
      <th></th>
      <th>Nome</th>
      <th>Assunto</th>
      <th>Status</th>
      <th>Data</th>
    </tr>
    {% for chat in chat_list %}
    <tr>
      <td><a href="index.php?class=Messages&method=view&param={{ chat.id_message }}"><img class="display-img"
            src="assets/images/email.png" alt="ver" title="Exibir mensagem"></a></td>
      <td>{{ chat.name }}</td>
      <td><a href="index.php?class=Messages&method=view&param={{ chat.id_message }}">{{ chat.subject }}</a>
      </td>
      <td>{{ chat.status }}</td>
      <td>{{ chat.date_send }}</td>
    </tr>
    {% endfor %}
  </table>
</section>
